<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
  	<div class="container">
  		<div class="jumbotron">
  			<p>Hello, Welcome to MakeUp Master Web App</p>
  		</div>
  	</div>
  	{% if image_list %}
  	<ul>
  		{% for image in image_list %}
  		<li><a href = "{% url 'detail' image.id %}">{{image.name}}</a>
  		</li>
  		{% endfor %}
  	</ul>
  	{% else %}
  	<p>No raw images available</p>
  	{% endif %}

  	<h2>Please Upload New Raw Image Below: </h2>

  	<form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
  		{% csrf_token %}
  		<p>{{ form.non_field_errors }}</p>
  		<p>{{form.name.label_tag}}</p>
  		<p>{{form.name}}</p>           

  		<p>{{ form.image.label_tag }}</p>
  		<p>
  			{{ form.image.errors }}
  			{{ form.image }}
  		</p>
  		<p><input type="submit" value="Upload" /></p>
  	</form>



  </body>
  </html>