<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron">
		<p>Hello, Welcome to MakeUp Master Web App</p>
	</div>
	{% if image_list %}
	<div class="container">
		<ul>
			{% for image in image_list %}
			<li><a href = "{% url 'detail' image.id %}">{{image.name}}</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No raw images available</p>
		{% endif %}
	</div>

	<div class="page-header">
		<h1>Please Upload New Raw Image Below:</h1>
	</div>


	<form role="form" action="{% url 'list' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>
		<p>{{form.name.label_tag}}</p>
		<p>{{form.name}}</p>           

		<p>{{ form.image.label_tag }}</p>
		<p>
			{{ form.image.errors }}
			{{ form.image }}
		</p>
		<p><input type="submit" class="btn btn-default" value="Upload" /></p>
	</form>



</body>
</html>