<!DOCTYPE html>
<html>
	<head>Data Visualization</head>
	<body>
			<h1>{{upload_image.name}}</h1>
			<img src = "{{upload_image.file.url}}"></img>
			
			<p style="font-size: 30px; color: purple; font-family: Arial">Please Choose a MakeUp effect below:</p>
			<br /><br />
			<form action = "{% url 'choice', upload_image.id %}" method = "post">
			{% csrf_token %}
				<input type = "radio" name = "choice" value = "Addon" />Addon<br/>
				<input type = "radio" name = "choice" value = "Removal" />Removal<br/>
				<input type = "radio" name = "choice" value = "Suggestion" />Suggestion<br />
				
				<input type = "submit" value = "Submit!" />
			</form>
	
	</body>

</html>